body {
    background-color: #f5f4f1;
    font: normal 15px "Avenir Next";
}

h1 { <!-- "Wishfull" -->
    font-family: "Avenir Next";
    font-weight: normal;
    color: #130f11;
    font-size: 25px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #130f11;
}
a:hover {
    color: #1b227b;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #130f11;
    font-style: italic;
}

.wrapper {
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 190px;

}

header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 28px;

}
header h1 .color {
    color: #1b227b;
}

header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 20px;
}
header nav ul li a {
    color: #130f11;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}
