.form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.overlay-container {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
}