<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="AllWishlists.css">
    <title>Wishfull</title>
</head>

<body>
<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Wishlists</a></li>
                <li><a href="/login">Profile</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="line-1"></div>
<div class="line-2"></div>

<div class="wrapper">

    <h2>Your wishlists</h2>

    <button onclick="window.location='/addwishlist';"> + New wishlist</button>
    <br>

    <div onclick="window.location='/';" class="card">
        <div class="cardLogo">
            <img src="logo.png" alt="Logo" width="150px">
        </div>
        <h3>Title</h3>
    </div>

    <div onclick="window.location='/';" class="card">
        <div class="cardLogo">
            <img src="logo.png" alt="Logo" width="150px">
        </div>
        <h3>Title</h3>
    </div>

    <div onclick="window.location='/';" class="card">
        <div class="cardLogo">
            <img src="logo.png" alt="Logo" width="150px">
        </div>
        <h3>Title</h3>
    </div>
    <div onclick="window.location='/';" class="card">
        <div class="cardLogo">
            <img src="logo.png" alt="Logo" width="150px">
        </div>
        <h3>Title</h3>
    </div>


</div>

</div>
</body>
</html>