<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="Frontpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
    <header>
        <div class="wrapper">
            <img src="logo.png" id = "img-logo" width="50" height="60">
            <h1>Wishfull<span class="color">.</span></h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
<!--
    <div id="img-logo2">
        <a href="/"> <img src="" alt="logo2" width="230" height="260"> </a>
    </div>
    -->
    <div id="img-front">
        <div class="wrapper">
            <h2><strong> Welcome to Wishfull </strong><br/>
                where wishes are sacred.</h2>
            <a href="/signup" class="button-1">Get Started</a>

        </div>

        <div id="features">
            <div class="wrapper">
                <ul>
                    <li class="feature-1">
                        <h4>Find item</h4>
                        <img src="pick.png"  width="50" height="50">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                    </li>
                    <li class="feature-2">
                        <h4>add to wishlist</h4>
                        <img src ="wish-list1.png"  width="50" height="50">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                    </li>
                    <li class="feature-3">
                        <h4>Ready to share</h4>
                        <img src="share.png" width="50" height="50">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>



        <div id="HeardEnough">
            <div class="wrapper">
                <h3>Heard Enough?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
                <a href="/login" class="button-2">Get Started</a>
            </div>
        </div>


    <footer>
        <div class="wrapper">
            <div id="footer-info">
                <p> Copyright 2014 Wishfull. All rights reserved.</p>
                <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
            </div>
            <div id="footer-links">
                <ul>
                    <li><h5>Wishfull</h5></li>

                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Meet The Team</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>

            </div>
            <div class="clear"></div>
        </div>


    </footer>


    </body>
</html>