<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="Frontpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
    <header>
        <h1></h1>
         <nav>
            <li><a href="/Signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
        </nav>
    </header>

    <div id="img-front1">
        <h2> WISHFULL</h2>
        <img src="Forside.jpg" id="img-front">
        <a> </a>
    </div>

    </body>
</html>