<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="mainLogin.css">
    <link rel="stylesheet" href="Login.css">
    <title>Wishfull</title>
</head>
    <body>
    <h2>Find your wishlist</h2>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Log in</h1>
                <div class="social-container">
                    <a href="#" class="social">f</a>
                    <a href="#" class="social">G</a>
                    <a href="#" class="social">in</a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Log in</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start the journey with us</p>
                    <button onclick="window.location='signup';" id="button2">Sign Up</button>
            </div>
        </div>
    </div>

    <footer>

    </footer>

    </body>
</html>