<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="Profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header>
    <div class="wrapper">
        <img src="logo.png" id = "img-logo" width="50" height="60">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>







</header>







</body>
</html>